@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Monomakh&display=swap');

@import "tailwindcss";

@theme{
  --font-makh: 'Monomakh', 'serif';
  --font-casto: 'Castoro Titling', 'serif';
}

@layer base{
  body{
    min-height: 100vh;  
    background-color: var(--color-gray-700);

  }
}